<html>
<body>
 <script type="text/javascript"
            src="/static_media/jquery/jquery.min.js"></script>
    <script type="text/javascript"
            src="/static_media/bootstrap/bootstrap.min.js"></script>
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="/static_media/jquery-flot/excanvas.min.js"></script><![endif]-->

        <script type="text/javascript"
                src="/static_media/lizard_ui/csrf.js"></script>
        <script type="text/javascript"
                src="/static_media/lizard_ui/lizard.js"></script>
        <script type="text/javascript"
                src="/static_media/lizard_ui/lizardui.js"></script>
        <script type="text/javascript"
                src="/static_media/jquerytools/jquery.tools.min.js"></script>
        <script type="text/javascript"
                src="/static_media/jqueryui/jqueryui.min.js"></script>
        <script type="text/javascript"
                src="/static_media/jquery-treeview/jquery.treeview.js"></script>
        <script type="text/javascript"
                src="/static_media/jquery-flot/jquery.flot.js"></script>
        <script type="text/javascript"
                src="/static_media/jquery-flot/jquery.flot.selection.js"></script>
        <script type="text/javascript"
                src="/static_media/jquery-flot/jquery.flot.axislabels.js"></script>

    <div style="width: 900px; height: 240px;"
         class="img-use-my-size flot-graph"
         data-flot-graph-data-url="{% url lizard_geodin_flot_data point_id=view.first_point.id %}">
    </div>
    <input class="flot-graph-reload" type="button" value="Zoom uit" />

    <a href="{{ view.measurement.get_absolute_url }}" target="_blank">Pagina vol informatie over deze meting</a>

</body>
  </html>
