<html>
<body>
 <script type="text/javascript"
            src="/static_media/jquery/jquery.min.js"></script>
    <script type="text/javascript"
            src="/static_media/bootstrap/bootstrap.min.js"></script>
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="/static_media/jquery-flot/excanvas.min.js"></script><![endif]-->

        <script type="text/javascript"
                src="/static_media/lizard_ui/csrf.js"></script>
        <script type="text/javascript"
                src="/static_media/lizard_ui/lizard.js"></script>
        <script type="text/javascript"
                src="/static_media/lizard_ui/lizardui.js"></script>
        <script type="text/javascript"
                src="/static_media/jquerytools/jquery.tools.min.js"></script>
        <script type="text/javascript"
                src="/static_media/jqueryui/jqueryui.min.js"></script>
        <script type="text/javascript"
                src="/static_media/jquery-treeview/jquery.treeview.js"></script>
        <script type="text/javascript"
                src="/static_media/jquery-flot/jquery.flot.js"></script>
        <script type="text/javascript"
                src="/static_media/jquery-flot/jquery.flot.selection.js"></script>
        <script type="text/javascript"
                src="/static_media/jquery-flot/jquery.flot.axislabels.js"></script>

    <h1>{{ view.page_title }}</h1>
    <p>
      <a href="{% url lizard_geodin_flot_data point_id=view.first_point.id %}">
        URL to flot graph data
      </a>.
    </p>
    <div style="width: 500px; height: 240px;"
         class="img-use-my-size flot-graph"
         data-flot-graph-data-url="{% url lizard_geodin_flot_data point_id=view.first_point.id %}">
    </div>
    <input class="flot-graph-reload" type="button" value="Zoom uit" />


    <dl>
      <dt>Project</dt>
      <dd>{{ view.measurement.project }}</dd>
      <dt>Location type</dt>
      <dd>{{ view.measurement.location_type }}</dd>
      <dt>Investigation type</dt>
      <dd>{{ view.measurement.investigation_type }}</dd>
      <dt>Data type</dt>
      <dd>{{ view.measurement.data_type }}</dd>

      <dt>Available fields</dt>
      <dd>{{ view.measurement.fields }}</dd>
    </dl>

    <p>
      We have {{ view.num_points }} points with data. The first item's data:
    </p>
    <table class="table table-bordered">
      {% for key, value in view.first_point.content_for_display %}
        <tr><td>{{ key }}</td><td>{{ value }}</td></tr>
      {% endfor %}
    </table>

</body>
  </html>
