 <script type="text/javascript"
            src="/static_media/jquery/jquery.min.js"></script>
    <script type="text/javascript"
            src="/static_media/bootstrap/bootstrap.min.js"></script>
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="/static_media/jquery-flot/excanvas.min.js"></script><![endif]-->

        <script type="text/javascript"
                src="/static_media/lizard_ui/csrf.js"></script>
        <script type="text/javascript"
                src="/static_media/lizard_ui/lizard.js"></script>
        <script type="text/javascript"
                src="/static_media/lizard_ui/lizardui.js"></script>
        <script type="text/javascript"
                src="/static_media/jquerytools/jquery.tools.min.js"></script>
        <script type="text/javascript"
                src="/static_media/jqueryui/jqueryui.min.js"></script>
        <script type="text/javascript"
                src="/static_media/jquery-treeview/jquery.treeview.js"></script>
        <script type="text/javascript"
                src="/static_media/jquery-flot/jquery.flot.js"></script>
        <script type="text/javascript"
                src="/static_media/jquery-flot/jquery.flot.selection.js"></script>
        <script type="text/javascript"
                src="/static_media/jquery-flot/jquery.flot.axislabels.js"></script>

{% if view.point %}
{% if view.extra %}<h3>{{ view.point }}</h3>{% endif %}

     <div style="width: {{ view.width }}px; height: {{ view.height }}px;"
         class="img-use-my-size flot-graph"
         data-flot-graph-data-url="{% url lizard_geodin_flot_data point_id=view.point.id %}">Grafiek is aan het laden.
    </div>
    <input class="flot-graph-reload" type="button" value="Zoom uit" />

    {% if view.extra %}
    <p>
      <a href="{{ view.point.measurement.get_absolute_url }}" target="_blank">ga naar meting</a>
    </p>

    <p>
      <a href="{% url lizard_geodin_flot_data point_id=view.point.id %}">
        URL to flot graph data (testing)
        </a>.
    </p>
    {% endif %}
{% endif %}

{% for point in view.points %}
<p>{{ point }}<!--The popup thingy, works with jsload only. -->
<a class="box-action" href="#" data-temp-id="point-popup-{{ point.id }}">groot</a></p>

    <iframe class="point" src="{% url lizard_geodin_point slug=point.slug %}?width={{ view.width }}&height={{ view.height }}" frameborder="0">IFrame contents</iframe>


<div class="box-dialog" data-temp-id="point-popup-{{ point.id }}" data-title="{{ point }}">
  <iframe class="box point" src="{% url lizard_geodin_point slug=point.slug %}?width=900&height=250" frameborder="0">IFrame contents</iframe>
</div>
{% endfor %}

