{% extends "lizard_ui/lizardbase.html" %}
{% load i18n %}

{% block sidebar %}
  <p style="margin-top: 1em">
    {% trans "Overview of the data imported from Fugro's Geodin system." %}
  </p>
{% endblock sidebar %}


{% block content %}
  <div class="textual-content">
    <h1>{{ view.page_title }}</h1>

    <h2>{% trans "Suppliers" %}</h2>
    <ul>
      {% for supplier in view.suppliers %}
        <li>
          <a href="{{ supplier.get_absolute_url }}">
            {{ supplier.name }}
          </a>
        </li>
      {% endfor %}
    </ul>

    <h2>{% trans "Projects" %}</h2>
    <ul>
      {% for project in view.projects %}
        <li>
          <a href="{{ project.get_absolute_url }}">
            {{ project.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
    {% if view.show_activation_hint %}
      <p>
        {% trans "There are projects, but none have been activated in the admin." %}
      </p>
    {% endif %}

    {% if user.is_superuser %}
      <hr />
      <h2>{% trans "Measurements" %}</h2>
      <p>
        Textual debug information about measurements.
      </p>
      <ul>
        {% for measurement in view.measurements %}
          <li>
            <a href="{{ measurement.get_absolute_url }}">
              {{ measurement.name }}
            </a>
          </li>
        {% endfor %}
      </ul>

      <h2>{% trans "API starting points" %}</h2>
      <p>
        Textual debug information about API starting points.
      </p>
      <ul>
        {% for api_starting_point in view.api_starting_points %}
          <li>
            <a href="{{ api_starting_point.source_url }}">
              {{ api_starting_point.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}

  </div>
{% endblock content %}
