{% extends "lizard_ui/lizardbase.html" %}
{% load i18n %}

{% block sidebar %}
  <h2>{% trans "Projects" %}</h2>
  <ul>
    {% for project in view.projects %}
      <li>
        <a href="{{ project.get_absolute_url }}">
          {{ project.name }}
        </a>
      </li>
    {% endfor %}
  </ul>
  {% if view.show_activation_hint %}
    <p>
      {% trans "There are projects, but none have been activated in the admin." %}
    </p>
  {% endif %}
{% endblock sidebar %}


{% block content %}
  <div class="textual-content">
    <h1>{{ view.page_title }}</h1>
    <p>
      {% trans "Select a Geodin project on the left." %}
    </p>
  </div>
{% endblock content %}
