{% extends "lizard_ui/lizardbase.html" %}
{% load i18n %}

{% block sidebar %}
<h2>{{ view.project.name }}</h2>
<p>
  TODO
</p>

<h2>Unordered stuff below</h2>

<h3>Location types</h3>
<ul>
  {% for location_type in view.location_types %}
    <li>{{ location_type.name }}</li>
  {% endfor %}
</ul>

<h3>Investigation types</h3>
<ul>
  {% for investigation_type in view.investigation_types %}
    <li>{{ investigation_type.name }}</li>
  {% endfor %}
</ul>

<h3>Data types</h3>
<ul>
  {% for data_type in view.data_types %}
    <li>{{ data_type.name }}</li>
  {% endfor %}
</ul>

{% endblock sidebar %}


{% block content %}
  <div class="textual-content">
    <h1>{% trans "Measurements" %}</h1>
    {% for measurement in view.measurements %}
      <h2>{{ measurement.name }}</h2>
      <dl>
        <dt>Location type</dt>
        <dd>{{ measurement.location_type }}</dd>
        <dt>Investigation type</dt>
        <dd>{{ measurement.investigation_type }}</dd>
        <dt>Data type</dt>
        <dd>{{ measurement.data_type }}</dd>

        <dt>Available fields</dt>
        <dd>{{ measurement.fields }}</dd>
      </dl>

      <p>
        We have {{ measurement.num_points }} points with data. The first item's data:
      </p>
      <table class="table table-bordered">
        {% for key, value in measurement.first_point.content_for_display %}
          <tr><td>{{ key }}</td><td>{{ value }}</td></tr>
        {% endfor %}
      </table>
      <p>
        <a href="{% url lizard_geodin_flot_data point_id=measurement.first_point.id %}">
          URL to flot graph data
        </a>. Note that the graph is shown below, but it takes a couple of
        seconds for it to load the data from the geodin webserver.
      </p>
      <div style="width: 500px; height: 240px;"
           class="img-use-my-size flot-graph"
           data-flot-graph-data-url="{% url lizard_geodin_flot_data point_id=measurement.first_point.id %}">
      </div>
      <input class="flot-graph-reload" type="button" value="Zoom uit" />

    {% endfor %}
  </div>
{% endblock content %}
