{% extends "lizard_ui/lizardbase.html" %}
{% load i18n %}

{% block sidebar %}
<h2>{% trans "Geodin hierarchy" %}</h2>

{% for location in view.hierarchy %}
  <h3>{{ location.name }}</h3>
  <ul>
    {% for investigation in location.subitems %}
      <li>{{ investigation.name }}</li>
      <ul>
        {% for datatype in investigation.subitems %}
          <li>{{ datatype.name }}</li>
          {% if datatype.measurement_url %}
            <ul>
              <li>
                <a href="{{ datatype.measurement_url }}">
                  {% trans "Measurement" %}
                </a>
              </li>
            </ul>
          {% endif %}
        {% endfor %}
      </ul>
    {% endfor %}
  </ul>
{% endfor %}



{% endblock sidebar %}


{% block content %}
  <div class="textual-content">
    <h1>{{ view.project.name }}</h1
    <p>{% trans "Measurements" %}</p>
    <ul>
      {% for measurement in view.measurements %}
        <li>
          <a href="{{ measurement.get_absolute_url }}">
            {{ measurement.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock content %}
